<%= simple_form_for(@visitum) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nombre %>
    <%= f.input :descripcion %>
    <%= f.input :precio %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
