<p id="notice"><%= notice %></p>

<h1>Listing Visita</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Precio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visita.each do |visitum| %>
      <tr>
        <td><%= visitum.nombre %></td>
        <td><%= visitum.descripcion %></td>
        <td><%= visitum.precio %></td>
        <td><%= link_to 'Show', visitum %></td>
        <td><%= link_to 'Edit', edit_visitum_path(visitum) %></td>
        <td><%= link_to 'Destroy', visitum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visitum', new_visitum_path %>
