<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @visitum.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @visitum.descripcion %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @visitum.precio %>
</p>

<%= link_to 'Edit', edit_visitum_path(@visitum) %> |
<%= link_to 'Back', visita_path %>
