<%= simple_form_for(@animal, html: { multipart: true }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nombre %>
    <%= f.input :descripcion %>
    <%= f.input :fecha_nacimiento %>
    <%= f.simple_fields_for :archivos do |a| %>
      <%= a.input :archivo, as: :file %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
