<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @animal.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @animal.descripcion %>
</p>

<p>
  <strong>Fecha nacimiento:</strong>
  <%= @animal.fecha_nacimiento %>
</p>

<p>
  <% @animal.archivos.each do |i| %>
    <%= image_tag i.archivo_url %>
  <% end %>
</p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
