<div class="row">
  <div class="col-md-8">
  <% @planes.each do |plan| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= plan.nombre %></h3>
      </div>
      <div class="panel-body">
        <p><%= plan.descripcion %></p>
      </div>
    </div>
  <% end %>
  </div>
    <div class="col-md-4">
    <% @instructores.each do |instructor| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= instructor.nombre %></h3>
        </div>
        <div class="panel-body">
          <p>Palmares del instructor</p>
        </div>
      </div>
    <% end %>
    </div>
</div>
