<% content_for :fondo do %>
  <%= video_tag video_url("out.webm"), autoplay: true , id: 'fondo' %>
<% end %>
<% @frases.each do |frase| %>
  <blockquote <%= cycle('class=blockquote-reverse',nil) %>>
    <%= frase.texto %>
  </blockquote>
<% end %>
