<div class="row">
<% 4.times do %>
  <% @animales.each do |animal| %>
    <div class="col-md-3 ">
      <div class="panel panel-default">
        <div class="panel-thumbnail"><%= image_tag image_url('c2.jpg'), class: 'img-responsive' %></div>
        <div class="panel-body">
          <p class="lead"><%= animal.nombre %></p>
          <p><%= truncate animal.descripcion, length: 50 %></p>
          <p><%= animal.fecha_nacimiento %></p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
</div>
<%= will_paginate @animales %>
