<div class="row">
  <% @visitas.each do |visita| %>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= visita.nombre %></h3>
      </div>
      <div class="panel-body">
        <p><%= visita.descripcion %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
