@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: image-url("c3.jpg");
  font-family: 'droid-serif';
}
#fondo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
  .navbar-nav {
    width: 100%;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
      > a {
        color: white;
      }
    }
  }
  .navbar-header {
    text-align: center;
    float: left;
    padding: 15px;
    width: 100%;
    box-sizing: content-box;
    .navbar-brand {float:none;}
    a {
      color: white;
    }
  }
}
@mixin animacion($retardo) {
  opacity: 0;
  animation-name: desvanecer;
  animation-duration: 4s;
  animation-delay: $retardo;
}
blockquote {
  @include animacion(2s);
  color: white;
}
@keyframes desvanecer {
  0% {opacity: 0}
  25% {opacity: 0.75}
  50% {opacity: 1}
  75% {opacity: 0.75}
  100% {opacity: 0; transform: translateY(100px);}
}
