<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @plan.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @plan.descripcion %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @plan.precio %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
