<li><%= link_to 'Animales' ,animals_path %></li>
<li><%= link_to 'Instructores' ,instructors_path %></li>
<li><%= link_to 'Planes' ,plans_path %></li>
<li><%= link_to 'Visitas' ,visita_path %></li>
<li><%= link_to 'Desconectar' ,destroy_user_session_path, method: :delete %></li>
