<li><%= link_to 'Inicio' ,root_path %></li>
<li><%= link_to 'Escuela' ,escuela_path %></li>
<li><%= link_to 'Visitas' ,visitas_path %></li>
<li><%= link_to 'Mercado' ,mercado_path %></li>
<li><%= link_to 'Contacto' ,contacto_path %></li>
