<p id="notice"><%= notice %></p>

<h1>Listing Frases</h1>

<table>
  <thead>
    <tr>
      <th>Texto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @frases.each do |frase| %>
      <tr>
        <td><%= frase.texto %></td>
        <td><%= link_to 'Show', frase %></td>
        <td><%= link_to 'Edit', edit_frase_path(frase) %></td>
        <td><%= link_to 'Destroy', frase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Frase', new_frase_path %>
